In [2]:
import pandas as pd

In [3]:
ls

Untitled.ipynb                 hud_2013.csv*
Untitled1.ipynb                thads2013n.txt*
affordable_housing_2013.ipynb

In [4]:
housing_2007 = pd.read_csv("hud_2013.csv")
housing_2005 = pd.read_csv("hud_2013.csv")

In [6]:
housing_2007['year'] = '2007'
housing_2005['year'] = '2005'

In [7]:
data_frames_set = []
data_frames_set.append(housing_2005)
data_frames_set.append(housing_2007)

In [9]:
len(data_frames_set)

2

In [20]:
filtered_housing_2007 = []
filtered_housing_2007 = housing_2007[['FMR', 'AGE1', 'TOTSAL', 'year']]
filtered_housing_2007.head(5)

    FMR  AGE1  TOTSAL  year
0   956    82       0  2007
1  1100    50  123000  2007
2  1100    53   28000  2007
3   949    67       0  2007
4   737    26   96900  2007

In [22]:
filtered_housing_2007.columns

Index([u'FMR', u'AGE1', u'TOTSAL', u'year'], dtype='object')

In [24]:
filtered_data_frames = []
filtered_housing_2005 = housing_2005[['FMR', 'AGE1', 'TOTSAL', 'year']]
filtered_data_frames.append(filtered_housing_2007)
filtered_data_frames.append(filtered_housing_2005)

In [25]:
len(filtered_data_frames)

2

In [28]:
for df in filtered_data_frames:
    negative_age_count = df[df['AGE1'] < 0]
    print(len(negative_age_count))

4438
4438

In [32]:
clean_list = []
def clean_rows(data_frame):
    for df in data_frame:
        df_clean = df[df['AGE1'] > 0]
    clean_list.append(df_clean)
    return(clean_list)

clean_filtered_list = clean_rows(filtered_data_frames)

In [33]:
for df in clean_filtered_list:
    negative_age_count = df[df['AGE1'] < 0]
    print(len(negative_age_count))

0